# "@airdev/next": "seeded"

PROJECT=BAREBONE_NEXT

# Environments
VALID_ENV_TARGETS=(local production)
DEFAULT_ENV_TARGET=local
BASE_DB_ENV_TARGET=local

# 1Password
OP_ACCOUNT=nanoindies.1password.com

# Templates
ENV_TEMPLATE_PATH=scripts/env-templates
COMMON_ENV_OUTPUT_PATH=.env.local

# Database
DATABASE_TYPE=cockroach
DATABASE_URL_CMD='devtool cred get data.$ENV_CURRENT.databaseUrl'

# Databag (Optional)
DATABAG_JSON_PATH=credentials.json
DATABAG_PASSWORD_VAR_NAME=BAREBONE_NEXT_DATABAG_PASSWORD
